### Deliverable 1: Preprocessing the Data for a Neural Network

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
print(application_df.shape)
application_df.head()

(34299, 12)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Attempt #5: adjust bucketing

In [2]:
application2_df = pd.read_csv("Resources/charity_data.csv")
application2_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application2_df = application2_df.drop(columns = ['EIN', 'NAME'])
application2_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:

# Look at APPLICATION_TYPE value counts for binning
app_type2 = application2_df.APPLICATION_TYPE.value_counts()

# Determine which values to replace if counts are less than ...?
replace_application2 = list(app_type2[app_type2 < 10000].index)

# Replace in dataframe
for app in replace_application2:
    application2_df.APPLICATION_TYPE = application2_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application2_df.APPLICATION_TYPE.value_counts()

T3       27037
Other     7262
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Look at CLASSIFICATION value counts for binning
classification2_counts = application2_df.CLASSIFICATION.value_counts()

# Determine which values to replace if counts are less than ..?
replace2_class = list(classification2_counts[classification2_counts < 2500].index)


# Replace in dataframe
for cls in replace2_class:
    application2_df.CLASSIFICATION = application2_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application2_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: CLASSIFICATION, dtype: int64

In [6]:
# Generate our categorical variable lists
application2_cat = application2_df.dtypes[application2_df.dtypes == "object"].index.tolist()

# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application2_df[application2_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application2_cat)
encode_df.head()

C:\Users\teresa2h\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T3,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,CLASSIFICATION_C1000,CLASSIFICATION_C1200,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [7]:
# Merge one-hot encoded features and drop the originals
application2_df = application2_df.merge(encode_df,left_index=True, right_index=True)
application2_df = application2_df.drop(application2_cat,1)
application2_df.head()

C:\Users\teresa2h\AppData\Local\Temp\ipykernel_13740\120824703.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application2_df = application2_df.drop(application2_cat,1)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T3,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [8]:
# Split our preprocessed data into our features and target arrays
y = application2_df.IS_SUCCESSFUL.values
X = application2_df.drop(columns=["IS_SUCCESSFUL"]).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [10]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn5 = tf.keras.models.Sequential()

# First hidden layer
nn5.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn5.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# # Second hidden layer
# nn5.add(tf.keras.layers.Dense(units=15, activation="relu"))

#Output layer
nn5.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn5.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                2800

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,261
Trainable params: 5,261
Non-trainable params: 0
_________________________________________________________________

In [11]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [12]:
# Compile the model
nn5.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=5)

In [13]:
# Train the model
fit_model = nn5.fit(X_train,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 3ms/step - loss: 123319.5312 - accuracy: 0.4869
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 53705.0273 - accuracy: 0.4894
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 24551.9062 - accuracy: 0.5133
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 28166.2500 - accuracy: 0.4970
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 22594.6445 - accuracy: 0.4948
Epoch 6/50
804/804 [==============================] - 3s 4ms/step - loss: 4815.0488 - accuracy: 0.5259
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 6719.2603 - accuracy: 0.5161
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 14087.1562 - accuracy: 0.5011
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 29456.6562 - accuracy: 0.4958
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 38913.4453 - accuracy: 0.5016
Epoch 11/50
804/804 [==============================] - 3s 3ms/step - loss: 19058.4141 - accuracy: 0.5150
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 14420.4883 - accuracy: 0.5044
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 14508.7031 - accuracy: 0.5157
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 36199.0664 - accuracy: 0.5261
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 20415.3906 - accuracy: 0.4947
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 14732.8965 - accuracy: 0.5004
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 12898.4893 - accuracy: 0.5203
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 11639.2275 - accuracy: 0.4868
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 9472.0469 - accuracy: 0.5093
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 727.2769 - accuracy: 0.5164
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 6864.3184 - accuracy: 0.5194
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 5711.6094 - accuracy: 0.4844
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 1188.7795 - accuracy: 0.5403
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 1903.2015 - accuracy: 0.5108
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9132 - accuracy: 0.5324
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7786 - accuracy: 0.5324
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7151 - accuracy: 0.5324
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6951 - accuracy: 0.5324
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6915 - accuracy: 0.5324
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5324

In [14]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn5.evaluate(X_test, y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6911 - accuracy: 0.5324 - 792ms/epoch - 3ms/step
Loss: 0.6910515427589417, Accuracy: 0.5323615074157715